# Build output
bin/
obj/

# Playwright browser downloads
playwright/.local-browsers/
bin/Debug/**/playwright/
bin/Release/**/playwright/

# Node / JS files created by Playwright tooling
**/PlaywrightTests/bin/**/
**/PlaywrightTests/obj/**/
**/Playwright*/bin/**/
**/Playwright*/obj/**/

# VS / Rider junk
.vscode/
.idea/
*.user
*.suo
*.cache

# SpecFlow generated code-behind
*.feature.cs